@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

html {
  @apply font-metropolis;
  color: var(--foreground);
  opacity: 1 !important;
  background: var(--background);
  font-family: 'Metropolis', sans-serif !important;
}


@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

.py-4 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}


.recaptcha-container {
  transform: scale(0.85); /* Adjust as needed */
  transform-origin: 0 0;
}

.recaptcha-wrapper {
  transform: scale(0.85);       /* Shrink to fit */
  transform-origin: top left;   /* Anchor scale */
  max-width: 100%;
  overflow: hidden;
}


@keyframes slideUp {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
