.glowContainer {
    animation: glow .5s infinite alternate;
}

@keyframes glow {
    to {
        box-shadow: 0 0 10px #71f208;
    }
}

.confirm_selection {
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
}